.contact--container {
    display: flex;
    flex-direction: column;
}

.contact--container--inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner--title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin: 104px 0 0;
}

.inner--bar {
    background-color: #EC7979;
    margin: 54px 0 0;
}

.inner--text {
    font-family: 'Raleway';
    font-weight: 400px;
    font-size: 18px;
    line-height: 117%;
    color: #86878B;
    margin: 40px 0 0;
}

.contact--container--info {
    display: flex;
    margin: 89px 0 0;
}

.info--about {
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 0;
}

.info--about-active:not(:first-child) {
    margin: 50px 0 0;
}

.info--about-active {
    width: 570px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-size: 12px;
    font-family: 'Open Sans';
}

.info--about--message {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    resize: none;
    font-size: 12px;
    font-family: 'Open Sans';
}

.info--about--btn {
    width: 370px;
    height: 58px;
    margin: 50px auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #EC7979;
    border: none;
}