.head {
    position: sticky;
    top: 0;
    min-width: 100vw;
    display: flex;
    background-color: #000000;
    min-height: 76px;
}

.head--logo {
    min-width: calc(50% + 15px);
    display: flex;
    align-items: center;
    margin: 0 0 0 115px;
    padding: 5px 15px;
}

.head--navigation {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 5px 15px;*/
}

.head--navigation--list {
    display: flex;
}

.head--navigation--list--link {
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.head--navigation--list > * {
    margin: 0 45px 0 0;
}
