@import url(/assets/styles/header.css);
@import url(/assets/styles/main-head.css);
@import url(/assets/styles/contact.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

.wrapper {
    min-height: 100%;
}

.container {
    max-width: calc(1170px + 15px*2);
    padding: 0 15px;
    margin: 0 auto;
}

.linebar {
    width: 170px;
    height: 1px;
}